*,
::before,
::after {
  box-sizing: border-box;
}

:root {
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(235, 16%, 14%);
    --Very-very-dark-blue: hsl(234, 17%, 12%);
}


body {
    max-width:1440px;
    min-width:375px;
    margin: 0 auto;


}

.content {
    position:relative;
    max-height:1080px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight:500;
    text-transform:uppercase;
}


.stars{
position: absolute;
background-image: linear-gradient(var(--Very-very-dark-blue), rgb(38, 26, 48));
z-index: -1;
height:40rem;
}


.title {
    position:relative;
    font-style:inherit;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding-top:10rem;
    z-index:0;
    font-size:9px;
    letter-spacing: 6px;
    margin-right:auto;
    margin-left:auto;
    width:50rem;
}


#countdown {
    text-align:center;
    z-index:0;
}

.listItem {
    font-style:inherit;
    display: inline-block;
    margin: 0.6rem;
    cursor: pointer;
  
}

.listItem span {
    list-style-type: none;
    color:var(--Grayish-blue);
    letter-spacing: 2px;
    font-size:11px;
    font-weight:700;
    
}

.card {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-size:48px;
    background-color:var(--Dark-desaturated-blue);
    height:6rem;
    width:6rem;
    color:var(--Soft-red)

}
/* FOOOTER */


.footer {
 margin-top:15rem;
}
.mountains {
    position:absolute;
    z-index:-1;
   
    
    
    }

.icons {
 display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
padding:1rem;
}

.icon :hover {
    filter: invert(59%) sepia(30%) saturate(5580%) hue-rotate(311deg) brightness(101%) contrast(97%);
    cursor: pointer;
  }
#facebook {
    margin:1rem;
}


#pinterest {
    margin:1rem;
}


#instagram {
    margin:1rem;
}



/* Media Queries */

@media only screen and (max-width: 830px) { 
    .title {
        font-size:11px;
        width: 25rem;
}
    
}